@import url('https://fonts.googleapis.com/css?family=Bungee Inline');
@import url('https://fonts.googleapis.com/css?family=Finger Paint');

h1 {
	font-family: 'Bungee Inline';
	color: antiquewhite;
	font-size: 60px;
	margin-bottom: 0px;
}

h3 {
	font-family: 'Bungee Inline';
	color:antiquewhite;
	margin-bottom: 0px;
}

p {
	font-family: 'Finger Paint';
	color: white;
	font-size: 15px;
}

.button {
	border-radius: 12px;
	font-family: 'Finger Paint';
    color: black;
	background-color: antiquewhite;
	border: none;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	padding: 15px 32px;
	font-size: 16px;
}

.redirect:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
